*.csv
*.pyc
crawl/crawl.log
crawl/crawl/crawl.log

db/cash_holding.sql
db/securities_holding.sql
db/securities_transaction.sql
db/security-postgres.sql

feeds/fdmt_balance_sheet_initial/data
feeds/fdmt_cash_flow_sheet_initial/data
feeds/fdmt_profit_sheet_initial/data

feeds/fdmt_balance_sheet_delta
feeds/fdmt_cash_flow_sheet_delta
feeds/fdmt_profit_sheet_delta

feeds/fdmt_dividend/data
feeds/stock_structure/data

feeds/stock_day_quote_china.jl
tmp/